.jumbotron{
    background-image:url(images/fall.jpg);
    height:168px;
}
.navbar {
	height: 100px;
}
.class6{
	height:50px;
}
.class1 {
    width:500px;
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.class2{
    width:100%;
}
.class3{
    font-family: fantasy;
    text-align: center;
}
.class4{
    width:100px;
    height: 100px;
    
     
}
.nav-link{
    font-family: 'Lato';
}