.jumbotron{
    background-image:url(images/fall.jpg);
}
.class1{
    font-family: fantasy;
    color: white;
}

	
.class4{
  float: left;
  display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000;

}

.class5{
  color: black;
}



.class2{
    background-color:#fff;
   
}
img{
    height:300px;
}
.navbar {
	height: 100px;
}
.class6{
	height:50px;
}