.jumbotron{
    background-image:url(images/fall.jpg);
}
.class1{
    font-family: fantasy;
    color: white;
}

	
.class4{
  float: left;
  display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000;

}

.class5{
  color: black;
}

.class2{
    background-color:#fff;
   
}
.class7{
    height:300px;
    border-radius:1000px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
	height: 100px;
}
.class6{
	height:50px;
}
.class8{
    font-family: fantasy;
}
.class9{
    font-family: fantasy;
    text-align: center;
}
.class10{
    width:500px;
    text-align: center;
   
}
.class11{
    width:500px;
  
}
.class12{
    font-family: fantasy;
    text-align: center;
}
.class13{
    width:300px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    text-align: center;
    
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
